@charset "utf-8";

/* 초기화 CSS */

body {
   margin: 0;
   padding: 0;
   font-size: 0.9em;
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

a {
   color: black;
   text-decoration: none;
   cursor: pointer;
}

p {
   margin: 0;
}

/* main */

main .container {
   padding: 40px 0;
}

main .container .row .card {
   flex-direction: row;
}

main .container .row .card-body {
   line-height: 30px;
}

main .container .row .card-body .title {
   font-weight: bold;
   font-size: large;
}

main .container .row .card-body .overview,
main .container .row .overview,
main .container .season p {
   width: 100%;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
}

main .container .row .col-sm-3 {
   text-align: center;
}

/* main .container .season {
   width: 100%;
   text-align: center;
   margin: 0 auto;
   margin-top: 20px;
} */

main .container .season {
   text-align: center;
}

main .container .season .card-seasons {
   height: 100%;
}

main .container .season .card-img {
   width: 100%;
}

main .container .season .posterImg {
   width: 100%;
   height: 288px;
   background-image: url('../images/white.PNG');
   background-repeat: no-repeat;
   background-position: center;
   border-radius: 10px;
}

main .container .season p {
   line-height: 30px;
   cursor: pointer;
}

main .container .nav-item a:hover {
   color: black;
}

/* footer */

footer {
   height: 100px;
   line-height: 100px;
   background-color: #f2f2f2;
}

/* 반응형 UI 문제 해결 */

@media (min-width: 576px) and (max-width: 767px) {
   .col-sm-6 {
      width: 100%;
   }
}

@media (max-width: 575px) {
   .col-sm-3 {
      text-align: center;
   }
}
